APP_SECRET=
GEMINI_API_KEY=

AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_REDIRECT_URI=https://SEU-DOMINIO/api/auth/callback
AZURE_TENANT=consumers
OUTLOOK_FOLDER=Feed

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
BLOB_READ_WRITE_TOKEN=
BLOB_STORE_ID=

RSS_TOKEN=
CRON_SECRET=
